.title {
  font-size: 32px;
  margin-bottom: 1rem;
}

.list {
  padding: 0;
  border-radius: 20px;
  background-color: hsl(240, 65%, 97%);
  overflow: hidden;
}

.list-no-items {
  padding: 1rem 1.25rem;
}

.list li a {
  display: block;
  padding: 1rem 1.25rem;
  transition: background-color 200ms ease-in;
}

.list li a:hover {
  background-color: hsl(240, 65%, 95%);
}
